FLASK_APP=
FLASK_DEBUG=
FLASK_PORT=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

SALT=
NEO4J_USERNAME=
NEO4J_PASSWORD=


#local
IBM_ASSISTANT_USERNAME=
IBM_ASSISTANT_PASSWORD=
IBM_ASSISTANT_API_VERSION=
#IBM_ASSISTANT_URL=
IBM_ASSISTANT_URL=
IBM_ASSISTANT_WORKSPACE_ID=
IBM_ASSISTANT_SERVICE_API_KEY=
IBM_ASSISTANT_PLATFORM_API_KEY=
IBM_ASSISTANT_LOGIN_KEY=